.salud {
    width: 55%;
    margin-top: 3;
    padding-left: 45px;
}
@media (min-width: 992px){
    .container, .container-lg, .container-md, .container-sm {
    max-width: 1162px!important;
}}


@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1903px!important;
    }
}

.li-1 {
    padding-bottom: 10px;
    font-size: 25px;
}

.li-2 {
    padding-bottom: 10px;
    font-size: 25px;
}

.li-3 {
    padding-bottom: 10px;
    font-size: 25px;
}

.li-4 {
    padding-bottom: 10px;
    font-size: 25px;
}

.li-5 {
    font-size: 25px;
}

.titulo1 {
    font-size: 45px;
    padding-bottom: 15px;
    padding-top: 25px;
}

@font-face {
    font-family: Book;
    src: url("../../assets/fonts/futura_md_bt_bold.ttf");
}

.text-titulo {
    font-family: Book;
}

@font-face {
    font-family: futura;
    src: url("../../assets/fonts/FuturaBookBT.ttf");
}

.text-texto {
    font-family: futura;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (min-width: 600px) {
    .texto-beneficios{
        list-style: none;
        
    }
    .salud {
        display: block;
        margin: auto;
        width: 55%;
    }
    .titulo1 {
        margin-left: 35px;
    }
    .titulo2 {
        margin-left: 35px;
    }
    .li-1 {
        padding-bottom: 10px;
        font-size: 19px;
    }
    .li-2 {
        padding-bottom: 10px;
        font-size: 19px;
    }
    .li-3 {
        padding-bottom: 10px;
        font-size: 19px;
    }
    .li-4 {
        padding-bottom: 10px;
        font-size: 19px;
    }
    .li-5 {
        font-size: 19px;
    }
    .titulo1 {
        font-size: 35px;
        padding-bottom: 15px;
        padding-top: 5px;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .texto-beneficios{
        list-style: none;
        
    }
    .salud {
        width: 55%;
        margin-top: 3;
        margin-left: 145px;
        display: block;
        text-align: center;
    }
    .titulo1 {
        margin-left: 35px;
    }
    .titulo2 {
        margin-left: 35px;
    }
    .li-1 {
        padding-bottom: 10px;
        font-size: 20px;
    }
    .li-2 {
        padding-bottom: 10px;
        font-size: 20px;
    }
    .li-3 {
        padding-bottom: 10px;
        font-size: 20px;
    }
    .li-4 {
        padding-bottom: 10px;
        font-size: 20px;
    }
    .li-5 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 992px) {
    .texto-beneficios{
        list-style: none;
        
    }
   
    .li-1 {
        padding-bottom: 10px;
        font-size: 20px;
    }
    .li-2 {
        padding-bottom: 10px;
        font-size: 20px;
    }
    .li-3 {
        padding-bottom: 10px;
        font-size: 20px;
    }
    .li-4 {
        padding-bottom: 10px;
        font-size: 20px;
    }
    .li-5 {
        font-size: 20px;
    }
    .titulo1 {
        font-size: 45px;
        padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 15px;
    }
    .salud {
        width: 75%;
        margin-top: 3;
        margin-left: 35px;
    }
}

@media only screen and (min-width: 1200px) {
    .texto-beneficios{
        list-style: none;
    }
    .li-1 {
        padding-bottom: 10px;
       
        font-size: 25px;
    }
    .li-2 {
        padding-bottom: 10px;
        
        font-size: 25px;
    }
    .li-3 {
        padding-bottom: 10px;
        font-size: 25px;
       
    }
    .li-4 {
        padding-bottom: 10px;
        font-size: 25px;
        
    }
    .li-5 {
        font-size: 25px;
        
    }
    .titulo1 {
        font-size: 45px;
        padding-bottom: 15px;
        padding-top: 5px;
        padding-left: 25px; 
    }
    .salud {
        width: 55%;
        margin-top: 3;
        margin: auto;
    }
}